


/*-----*/
/*RESET*/
/*-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

img{
    display: block;
}
/*----------*/
/*FINE RESET*/
/*----------*/





/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */





/*-------------*/
/*INIZIO COMMON*/
/*-------------*/

.mobile-hidden{
    display:none;
}

.flex{
    display: flex;
}

.text-important{
    font-weight: bold;
    color: white;
}

.corpo{
    display: flex;
}


@media screen and (min-width:552px){
    .mobile-hidden{
        display: inline-block;
    }
    .desktop-hidden{
        display: none;
    }
}
/*-----------*/
/*FINE COMMON*/
/*-----------*/





/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */






/*-----------*/
/*INIZIO TYPE*/
/*-----------*/
* body{
    font-family: 'Montserrat', sans-serif;
}
/*---------*/
/*FINE TYPE*/
/*---------*/





/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */






/*------------------------------*/
/*INIZIO MENU/HEADER EXTRA-SMALL*/
/*------------------------------*/
.menu{
    background-color: black;
}

.menu .container-menu{
    height: calc(100vh - 5.625rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between
    
}

.menu .logo-small{
    width: 1.875rem;
    margin: .3125rem .625rem;
}

.menu li {
    text-align: center;
    padding-bottom: .625rem;
}

.menu li *{
    color: #d2d2d2;
}


.menu li .icona{
    width: 1.25rem;
    margin: auto;
}
/*----------------------------*/
/*FINE MENU/HEADER EXTRA SMALL*/
/*----------------------------*/



/*-----------------------------------------*/
/*INIZIO MENU/HEADER SMALL / MEDIUM / LARGE*/
/*-----------------------------------------*/
@media screen and (min-width:552px){
    .menu .menu-music{
        width: 14.375rem;
    }
    .menu li{
        display: flex;
        padding: .625rem 1.25rem;
        align-items:  center;
        justify-content: flex-start;
    }
    
    .menu li .icona{
        display: block;
        width: 1.25rem;
    }
    .menu li a{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .3125rem;
    }
    .menu ul{
        padding-bottom: 1.5rem;
    }
    .menu i{
        font-size: 2rem;
    }
    
    .menu .logo{
      width: 8.4375rem;
    }
    .menu ul:last-child{
        padding-bottom: 0;
    }
    .menu .menu-music{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .menu .playlist{
        overflow:auto;
        flex-grow: 1;
    }
    .menu .playlist::-webkit-scrollbar
    {
        width: .5rem;
        background-color: #f5f5f5af;
        border-radius: 1.875rem;
    }
    .menu .playlist::-webkit-scrollbar-thumb
    {
        background-color: #000000b7;
        border-radius: 1.875rem;
    }
    .menu .profile{
        padding:0;
    }
    .menu .box-user{
        margin-left: 20px;
        padding: 10px 0;
        border-top: .01rem solid white;
        
    }

}
/*---------------------------------------*/
/*FINE MENU/HEADER SMALL / MEDIUM / LARGE*/
/*---------------------------------------*/

/*---------------------------------------*/
/*INIZIO MENU/HEADER EFFETTI*/
/*---------------------------------------*/
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
/*---------------------------------------*/
/*FINE MENU/HEADER EFFETTI*/
/*---------------------------------------*/


/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */





/*-----------------------*/
/*INIZIO CORPO/MAIN SMALL*/
/*-----------------------*/
.main{
    background-color: #141922;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

.main .container-corpo{
    height: calc(100vh - 5.625rem);
    overflow: auto;
    padding-top: 5.625rem;
}

.main .menu-upgrade{
    background-color: rgba(0, 0, 0, 0.493);
    height: 5.625rem;
    position: fixed;
    z-index: 777;
    top: 0;
    right: 0;
    left: 3.125rem;
    font-size: .875rem;
}

.main .button-upgrade{
    border: .125rem solid white;
    position: absolute;
    padding: .8125rem 1.875rem;
    border-radius: 3.125rem;
    right: .3125rem;
    top: 1.25rem;
}

.main .corpo-main nav ul{
    padding: .9375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
    justify-content: center;
}

.main .corpo-main nav a{
    color: #7d7f84;
    font-weight: bold;
    font-size: .875rem;
}

.main .corpo-main nav li{
    padding-top: .9375rem;
}

.main .contenuto-principale{
    padding: 1.25rem;
}
.main .container-corpo::-webkit-scrollbar
{
    width: .5rem;
    background-color: #f5f5f5af;
    border-radius: 1.875rem;
}
.main .container-corpo::-webkit-scrollbar-thumb
{
    background-color: #000000b7;
    border-radius: 1.875rem;
}
.main .container{
    display: flex;
    gap: .625rem;
    flex-wrap: wrap;
    padding-top: 1.25rem;
}

.main .container .card{
    width: calc(100vw / 2 - 3.125rem - .625rem);
    display: flex;
    text-align: center;
}
.main .container .circular img{
    border-radius: 50%;
}
.main .container .hover-play{
    position: relative;
    z-index: 1;
}
.main .container .card i{
    font-size: 3.75rem;
    position: absolute;
    top: calc(50% - 1.5625rem );
    right: calc(50% - 25px);
    display: none;
}
.main .container .card img{
    width: 100%;
}
.main h2{
    margin: 1.875rem 0 0.3rem;
}
.main .sottotitolo{
    color: #7d7f84;
    font-weight: bold;

}
.main .titolo{
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .9375rem 0;
}
.main a .artista{
    display: block;
    color:#7d7f84 ;
    padding-bottom: 1.25rem;
}
/*---------------------*/
/*FINE CORPO/MAIN SMALL*/
/*---------------------*/



/*-----------------------------------------*/
/*INIZIO CORPO/MAIN SMALL / MEDIUM / LARGE*/
/*-----------------------------------------*/
/* small  */
@media  screen and (min-width:552px) {
    .main .menu-upgrade{
        left: 14.375rem ;
    }
    .main .container .card{
        width: calc(100% / 2 - .625rem) ;
    }
    
}
/* medium */
@media screen and (min-width:640px){
    .main .container .card{
        width: calc(100% / 4 - .625rem);
    }
}
/* large */
@media screen and (min-width:878px){
    .main .container .card{
        width: calc(100% / 6 - .625rem);
    }  
    .main .container .card img{
        max-width: 11.25rem ;
    } 
}
/*--------------------------------------*/
/*FINE CORPO/MAIN SMALL / MEDIUM / LARGE*/
/*--------------------------------------*/




/*-------------------------------*/
/*INIZIO CORPO PRINCIPALE EFFETTI*/
/*-------------------------------*/
.main nav a:hover{
    color: white;
}

.main .container .hover-play:hover i{
    display: block;
}

.main .container .hover-play:hover img{
    filter: opacity(30%);
}
.main .button-upgrade:hover{
    scale: 1.05;
}
/*-----------------------------*/
/*FINE CORPO PRINCIPALE EFFETTI*/
/*-----------------------------*/






/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */





/*--------------------------*/
/*INIZIO FOOTER/PLAYER SMALL*/
/*--------------------------*/

footer .player{
    background-color: #282828;
    height:5.625rem;
    display: flex;
    justify-content: space-between;
}

footer .sinistra{
width: 14.375rem;
}

footer .destra{
width: 14.375rem;
}

footer .player>div{
    height: 100%;
    /* background-color: red; */
    display: flex;
    gap: .625rem;
    align-items: center;
    padding: 0 .625rem;
}

footer .sinistra img{
    height: 1.75rem;
}

footer .nome-brano{
    font-size: 0.8rem;
}
footer .nome-artista{
    font-size: 0.7rem;
    color:#d2d2d2
}
footer i{
    color: #7d7f84;
}
footer .icons{
    display: flex;
    gap: .625rem;
    flex-direction: column;
}

footer .centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
footer .navigazione{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}
footer .timeline{
    display: flex;
    justify-content: center;
    gap: .3125rem;
    align-items: baseline;
    width: 100%;
}
footer .barra{
    background-color:#5a5a5a ;
    flex-grow: 1;
    height: .3125rem;
    border-radius: .3125rem;
}
footer .sfera{
    height: 12px;
    background-color: #c1c1c1;
    width: 12px;
    position: absolute;
    top: -4px;
    right: 0;
    border-radius: 50%;
    display: none;
}
footer .timeline .barra{
    max-width: 26.875rem;
}
footer .destra .barra{
    max-width: 7.5rem;
}
footer .timeline span{
    font-size: 0.6rem;
}
footer .barra .ascoltato{
    background-color:#c1c1c1;
    width: 30%;
    height: 100%;
    border-radius: .3125rem;
    position: relative;
}
footer .navigazione i{
    color: white;
    font-size: 1rem;
}
footer .destra i{
    color: white;
    font-size: 0.8rem;
}
footer .navigazione .fa-circle-play{
    font-size: 1.5rem;
    margin: 0 .3125rem;
}
/*------------------------*/
/*FINE FOOTER/PLAYER SMALL*/
/*------------------------*/


/*-----------------------------------------*/
/*INIZIO PLAYER/FOOTER SMALL / MEDIUM / LARGE*/
/*-----------------------------------------*/
/* small medium large */
@media  screen and (min-width:552px) {
    footer .icons{
        gap: .9375rem;
        flex-direction: row;
    }
    footer .sinistra img{
        height: 2.625rem;
    }
    footer .nome-artista{
        font-size: 0.75rem;
    }
    footer .nome-brano{
        font-size: 0.7rem;
    }
}
/*-----------------------------------------*/
/*FINE PLAYER/FOOTER SMALL / MEDIUM / LARGE*/
/*-----------------------------------------*/

/*----------------------------*/
/*INIZIO PLAYER/FOOTER EFFETTI*/
/*----------------------------*/


footer .barra:hover .sfera{
    display: block;
}
footer .centro .barra:hover .ascoltato{
    background-color: green;
}
footer i:hover{
    color: green;
}

/*--------------------------*/
/*FINE PLAYER/FOOTER EFFETTI*/
/*--------------------------*/



/* ----------------------------------------------- */
/* ----------------------------------------------- */
/* ----------------------------------------------- */



