/*-----*/
/*RESET*/
/*-----*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

/*----------*/
/*FINE RESET*/
/*----------*/


/* ----------------------------------------------- */


/*-------------*/
/*INIZIO COMMON*/
/*-------------*/

.mobile-hidden{
    display: none;
}









/*-----------*/
/*FINE COMMON*/
/*-----------*/


/* ----------------------------------------------- */


/*-----------*/
/*INIZIO TYPE*/
/*-----------*/

* body{
    font-family: 'Montserrat', sans-serif;
}







/*---------*/
/*FINE TYPE*/
/*---------*/


/* ----------------------------------------------- */


/*------------------*/
/*INIZIO MENU/HEADER*/
/*------------------*/









/*----------------*/
/*FINE MENU/HEADER*/
/*----------------*/


/* ----------------------------------------------- */


/*-----------------*/
/*INIZIO CORPO/MAIN*/
/*-----------------*/









/*---------------*/
/*FINE CORPO/MAIN*/
/*---------------*/


/* ----------------------------------------------- */


/*--------------------*/
/*INIZIO FOOTER/PLAYER*/
/*--------------------*/









/*------------------*/
/*FINE FOOTER/PLAYER*/
/*------------------*/


/* ----------------------------------------------- */


